@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* -- 顏色 -- */
/* -- 背景顏色 -- */
.bg-linearGradient {
  background-image: linear-gradient(to bottom, #050014, rgba(1, 2, 30, 0.8901960784));
}

.bg-white {
  background-color: #fff;
}

.bg-black {
  background-color: #000;
}

/* -- 字體顏色 -- */
.color-primary {
  color: #00ffa3;
}

.white {
  color: #fff;
}

.black {
  color: #000;
}

/* -- 字體 -- */
h1 {
  font-size: 128px;
}

.display-1 {
  font-size: 64px;
}

h2 {
  font-size: 40px;
}

.fs-1 {
  font-size: 32px;
}

.fs-2 {
  font-size: 24px;
}

.fs-3 {
  font-size: 20px;
}

/* -- 間距 -- */
.mb-36 {
  margin-bottom: 36px;
}

.mb-32 {
  margin-bottom: 32px;
}

/* -- 排版 -- */
.d-flex {
  display: flex;
  gap: 24px;
}

.d-inline {
  display: inline-block;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.me-auto {
  margin-right: auto;
}

.ms-auto {
  margin-left: auto;
}

/* -- 共同架構 -- */
/* {
    outline: 1px solid yellowgreen;
}*/
body {
  background-color: #000;
  color: #fff;
  line-height: 1.5;
  font-family: "Bruno Ace SC", cursive;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}

a {
  display: block;
  text-decoration: none;
  color: #fff;
}
a:hover {
  color: #00ffa3;
}

button {
  width: 185px;
  padding: 12px 24px;
  border-radius: 32px;
  font-size: 16px;
  font-family: "Bruno Ace SC", cursive;
  border: none;
  background-color: transparent;
}
button:hover {
  opacity: 0.7;
}

.material-icons {
  font-size: 24px;
  vertical-align: middle;
  margin-left: 4px;
}

.wrap {
  width: 1296px;
  margin: 0 auto;
}

/* ------ 上方選單 ------ */
.menu {
  padding: 40px 0 0 0;
  display: flex;
  justify-content: space-between;
}
.menu a {
  width: 306px;
}
.menu li:nth-child(4) {
  text-align: right;
}

/* ------ 個人頭像 ------ */
.header {
  padding: 72px 0;
  display: flex;
  align-items: center;
  gap: 24px;
}
.header img {
  height: 848px;
}
.header .textBox {
  display: flex;
  flex-direction: column;
}
.header .textBox h1, .header .textBox button {
  align-self: flex-end;
}

/* ------ 個人簡介 ------ */
.introduction {
  padding: 160px 0;
  background-image: url(https://github.com/hexschool/2022-web-layout-training/blob/main/2023week2/background-img.png?raw=true);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  display: flex;
  justify-content: center;
  gap: 24px;
}
.introduction .textBox {
  width: 526px;
}
.introduction .textBox .sparkle-sm {
  height: 98px;
  display: flex;
  gap: 16px;
}
.introduction .photoBox {
  display: flex;
  height: 600px;
  gap: 24px;
}

/* ------ 關於個人 ------ */
.aboutMe {
  padding: 160px 0;
  color: #000;
  display: flex;
  justify-content: space-between;
}
.aboutMe .card-list {
  width: 640px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 24px;
}
.aboutMe .card-list .card {
  padding: 16px;
  height: 116px;
  display: flex;
  flex-direction: column;
  gap: 4px;
  border: 1px solid #e3e3e3;
  box-shadow: 4px 4px 6px #e3e3e3;
}
.aboutMe .card-list .card p {
  width: 274px;
}
.aboutMe .textBox {
  display: inline-block;
}
.aboutMe .textBox p {
  width: 526px;
}

/* ------ 聯絡方式 ------ */
.contactMe {
  padding: 96px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.contactMe .textBox {
  display: flex;
  gap: 16px;
}
.contactMe .textBox img {
  height: 100px;
}
.contactMe .social {
  display: flex;
  gap: 20px;
}
.contactMe .social a:hover {
  opacity: 0.5;
}
.contactMe .social img {
  height: 162px;
}

/* ------ 作品集 ------ */
.project {
  color: #000;
  padding: 160px 0;
}

/* ------ 版權聲明 ------ */
.footer {
  padding: 40px 0;
}
.footer p {
  text-align: center;
}