/* ------ 上方選單 ------ */
.menu {
    padding: 40px 0 0 0;
    display: flex;
    justify-content: space-between;
    a {
        width: 306px;
    }
    li:nth-child(4) {
        text-align: right;
    }
}
/* ------ 個人頭像 ------ */
.header {
    padding: 72px 0;
    display: flex;
    align-items: center;
    gap: 24px;
    img {
        height: 848px;
    }
    .btn-contactMe {
        padding: 12px 24px;
        border-radius: 32px;
        font-size: 16px;
        font-family: 'Bruno Ace SC', cursive;
    }
}
/* ------ 個人簡介 ------ */
.introduction {
    padding: 160px 0;
    background-image: url(https://github.com/hexschool/2022-web-layout-training/blob/main/2023week2/background-img.png?raw=true);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    display: flex;
    justify-content: center;
    gap: 24px;
    .textBox {
        width: 526px;
        .sparkle-sm {
        height: 98px;
        display: flex;
        gap: 16px;
        }
    }
    .photoBox {
        display: flex;
        height: 600px;
        gap: 24px;
    }
}
/* ------ 關於個人 ------ */
.aboutMe {
    padding: 160px 0;
    color: $black;
    display: flex;
    justify-content: space-between;
    .card-list {
        width: 640px;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        gap: 24px;
        .card {
            padding: 16px;
            height: 116px;
            display: flex;
            flex-direction: column;
            gap: 4px;
            border: 1px solid $color-info;
            box-shadow: 4px 4px 6px $color-info;
            p {
                width: 274px;
            }
        }
    }
    .textBox {
        display: inline-block;
        p {
        width: 526px;
        }
    }
}
/* ------ 聯絡方式 ------ */
.contactMe {
    padding: 96px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .textBox {
        display: flex;
        gap: 16px;
        img {
            height: 100px;
        }
    }
    .social {
        display: flex;
        gap: 20px;
        img {
            height: 162px;
        }
    }

}
/* ------ 作品集 ------ */
.project {
    color: $black;
    padding: 160px 0;
    .btn-seeMore {
        padding: 12px 24px;
        border-radius: 32px;
        font-size: 16px;
        font-family: 'Bruno Ace SC', cursive;
    }
}
/* ------ 版權聲明 ------ */
.footer {
    padding: 40px 0;
    p {
        text-align: center;
    }
}