/* -- 顏色 -- */
$color-primary: #00ffa3;
$color-info: #e3e3e3;
$white: #fff;
$black: #000;

/* -- 背景顏色 -- */
.bg-linearGradient {
    background-image: linear-gradient(to bottom, #050014, #01021EE3);
}
.bg-white {
    background-color: $white;
}
.bg-black {
    background-color: $black;
}

/* -- 字體顏色 -- */
.color-primary {
    color: #00ffa3;
}
.white {
    color: #fff;
}
.black {
    color: #000;
}

/* -- 字體 -- */
h1 {
    font-size: 128px;
}
.display-1 {
    font-size: 64px;
}
h2 {
    font-size: 40px;
}
.fs-1 {
    font-size: 32px;
}
.fs-2 {
    font-size: 24px;
}
.fs-3 {
    font-size: 20px;
}

/* -- 間距 -- */
.mb-1 {
    margin-bottom: 4px;
}
.mb-4 {
    margin-bottom: 16px;
}
.mb-6 {
    margin-bottom: 24px;
}
.mb-7 {
    margin-bottom: 28px;
}
.mb-8 {
    margin-bottom: 32px;
}
.mb-9 {
    margin-bottom: 36px;
}
.mb-19 {
    margin-bottom: 76px;
}
.mr-4 {
    margin-right: 16px;
}
.mr-5 {
    margin-right: 20px;
}
.mr-6 {
    margin-right: 24px;
}

/* -- 排版 -- */
.flex {
    display: flex;
}
.flex-column {
    display: flex;
    flex-direction: column;
}
.justify-content-between {
    justify-content: space-between;
}
.justify-content-center {
    justify-content: center;
}
.align-items-center {
    align-items: center;
}
.flex-wrap {
    flex-wrap: wrap;
}
.me-auto {
    margin-right: auto;
}
.ms-auto {
    margin-left: auto;
}

/* -- 共同架構 -- */
/* {
    outline: 1px solid yellowgreen;
}*/
body {
    background-color: $black;
    color: $white;
    line-height: 1.5;
    font-family: 'Bruno Ace SC', cursive;
}
img {
    display: block;
    max-width: 100%;
    height: auto;
    object-fit: cover;
}
a {
    display: block;
    text-decoration: none;
    color: $white;
    &:hover {
        color: $color-primary;
    }
}
button {
    width: 185px;
    padding: 12px 24px;
    border-radius: 32px;
    font-size: 16px;
    font-family: 'Bruno Ace SC', cursive;
    border: none;
    background-color: transparent;
    &:hover {
        opacity: 0.7;
    }
}
.material-icons {
    font-size: 24px;
    vertical-align: middle;
    margin-left: 4px;
}
.wrap {
    max-width: 1296px;
    margin: 0 auto;
}